@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/*
    Cores: #4B43B2, #251642, #040205, #132126
    monocromaticas: #8c65ec,#7855d9, #6444c6, #5034b3, #3c23a0, #000014,
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #6444c6, #3c23a0);
}

/*Header/ Logo e Menu*/

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background: linear-gradient(160deg, #132126, #3c23a0);
    color: #fff;
}


header ul {
    display: flex;
    gap: 1.5rem;
}

header ul li {
    list-style: none;
    cursor: pointer;
    font-weight: 400;
    transition: .3s;
}

header ul li:hover {
    scale: 1.1;
    color: #ea7bf5;
}

main {
    height: 35.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
 

main section h1 {
    color: #fff;
    font-size: 2.5rem;
}

main section h1 strong {
    color: #ea7bf5;
    font-size: 2.9rem;
}

main section p {
    margin-top: -5px;
    color: rgba(255, 255, 255, 0.733);
    font-size: 1.2rem;
}

.sectionApresentacao .icons {
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    
}

.sectionApresentacao .icons a img {
    width: 20px;
    transition: .3s;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    border-radius: 50%;
}

.sectionApresentacao .icons a img:hover {
    transform: scale(1.1);
}

.sectionApresentacao button {
    font-size: 1.2rem;
    position: relative;
    margin-top: 8rem;
    width: 250px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
    transition: .3s;
    color: #ea7bf5;
    border: 1px solid #000014;
    letter-spacing: .1rem;
}

.sectionApresentacao button::before, .sectionApresentacao button::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border: 1px solid;
    transition: .5s;
}

.sectionApresentacao button::before {
    top: -10%;
    left: 80%;
    transition: .5s;
}

.sectionApresentacao button::after {
    bottom: -10%;
    left: 20%;
}

.sectionApresentacao button:hover {
    transform: scale(1.1);
    letter-spacing: .3rem;
}
.sectionApresentacao button:hover::after {
    transform: scale(1.1);
    left: 80%;
}
.sectionApresentacao button:hover::before {
    transform: scale(1.1);
    left: 20%;
}

main section div {
    position: relative;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, #8c65ec, #251642);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

main section div::after, main section div::before {
    content: "";
    position: absolute;
    height: 10px;
    width: 100px;
    background-color: #ea7bf5;
    box-shadow: 0px 0px 10px 5px #eb7bf57c;
    border-radius: 10px;
}

main section div::before {
    top: -0.5%;
    left: 0%;
}

main section div::after {
    bottom: -1%;
    left: 64.5%;
}

main section div img {
    width: 280px;
    z-index: 100;
    filter: drop-shadow(0px 0px 10px #eb7bf594);
}

.sectionProjetos {
    background-attachment: fixed;
    height: 37.5rem;
    background-color: #000014;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.26) 0px 5px 15px 15px;
}

.sectionProjetos h1 {
    padding: 1rem;
    text-align: center;
    color: #FFF;
    font-size: 2rem;
    letter-spacing: .1rem;

}

.sectionProjetos .efeitos {
    position: relative;
    height: 32.5rem;
    display: flex;
    flex-wrap: wrap;

    
}

.sectionProjetos .efeitos span {
    animation: batimento 4s infinite alternate;
    border-radius: 50%;
    filter: blur(30px);
}

.sectionProjetos .efeitos span:nth-child(1) {
    width: 300px;
    height: 300px;
    background: linear-gradient(320deg, black, #eb7bf5 50%);  
    transition-delay: .5s;
}

.sectionProjetos .efeitos span:nth-child(2) {
    position: absolute;
    width: 500px;
    height: 500px;
    bottom: -50%;
    left: 30%;
    background: linear-gradient(190deg, black, #6444c6 50%);
}

.sectionProjetos .efeitos span:nth-child(3) {
    position: absolute;
    width: 350px;
    height: 350px;
    background: linear-gradient(10deg, black, #0f0);
    left: 70%;
}


.projetos {
    margin-top: -32%;
    width: 100%;
    height: 100%;
}

.containerProjetos {
    position: relative;
    background-color: #FFF;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid #000014;
    width: 100%;
    height: 523px;
}

.infoProjeto {
    background-color: rgba(255, 255, 255, 0.253);
    -webkit-backdrop-filter: blur(500px);
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


/*ANIMAÇÕES*/


@keyframes batimento {
    from {
        transform: scale(1.1);
    }
    to {
            transform: scale(1);
    }
}